{% extends "front/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Consultar licencias
                <span class="small pull-right">
                    <a href="{% url 'front:licencia' %}" class="btn btn-primary">Crear licencia</a>
                </span>
            </h1>
        </div>
    </div>
    <table class="table table bordered table-striped">
    <thead>
        <tr>
            <th>Persona</th>
            <th>Autoridad</th>
            <th>Clase</th>
            <th>Categoria</th>
            <th>Nro</th>
            <th>Fecha Exp</th>
            <th>Fecha Rev</th>
            <th>Restrrcciones</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for licencia in licencias %}
            <tr>
                <td>{{ licencia.persona }}</td>
                <td>{{ licencia.autoridad }}</td>
                <td>{{ licencia.clase }}</td>
                <td>{{ licencia.categoria }}</td>
                <td>{{ licencia.numero_licencia }}</td>
                <td>{{ licencia.fecha_expedicion }}</td>
                <td>{{ licencia.fecha_revalidacion }}</td>
                <td>{{ licencia.restricciones }}</td>
                <td><a href="{% url 'front:licencia'  licencia.id %}">Editar</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="8" class="text-center">No existen datos</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block title %}Consultas{% endblock title %}
