{% extends "front/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Crear licencia
                <span class="small pull-right">
                    <a href="{% url 'front:consulta' %}" class="btn btn-primary">Ver todas las licencias</a>
                </span>
            </h1>

            <form action="" method="post">
                <div class="form-group">
                    <label for="">Persona:</label>
                    <input type="text" class="form-control ac-persona" placeholder="Ingrese la persona" required>
                    <input type="hidden" id="id_persona" value="" name="persona">
                </div>
                {% for field in  form %}
                    <div class="form-group">
                        <label for="">{{ field.label }}:</label>
                        {{ field }}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    </div>
                {% endfor %}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Guardar</button>
            </form>
        </div>
    </div>

{% endblock content %}

{% block title %}Consultas{% endblock title %}
