{% extends "front/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Consultar Sanciones
                <span class="small pull-right">
                    <a href="{% url 'front:sanciones' persona.id  %}" class="btn btn-primary">Crear Sancion</a>
                </span>
            </h1>
        </div>
    </div>
    <table class="table table bordered table-striped">
    <thead>
        <tr>
            <th>Persona</th>
            <th>Fecha Infracion</th>
            <th>Numero Papeleta</th>
            <th>Entidad</th>
            <th>Distrito</th>
            <th>Infraccion</th>
            <th>Grado de Alcohol</th>
            <th>Retencion</th>
            <th>Carnet Policial</th>
        </tr>
    </thead>
    <tbody>
        {% for sancion in sanciones %}
            <tr>
                <td>{{ sancion.persona }}</td>
                <td>{{ sancion.autoridad }}</td>
                <td>{{ sancion.clase }}</td>
                <td>{{ sancion.categoria }}</td>
                <td>{{ sancion.numero_licencia }}</td>
                <td>{{ sancion.fecha_expedicion }}</td>
                <td>{{ sancion.fecha_revalidacion }}</td>
                <td>{{ sancion.restricciones }}</td>
                <td><a href="{% url 'front:sanciones' id_persona=persona.id id=sancion.id %}">Editar</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="8" class="text-center">No existen datos</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block title %}Sanciones{% endblock title %}