{% extends "front/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Consultar Sanciones
                <span class="small pull-right">
                    <a href="{% url 'front:sancion_persona' id_persona=persona.id id=0 %}" class="btn btn-primary">Crear Sancion</a>
                </span>
            </h1>
        </div>
    </div>
    <table class="table table bordered table-striped">
    <thead>
        <tr>
            <th>Persona</th>
            <th>Fecha Infracion</th>
            <th>Numero Papeleta</th>
            <th>Entidad</th>
            <th>Distrito</th>
            <th>Infraccion</th>
            <th>Grado de Alcohol</th>
            <th>Sancion</th>
            <th>Observacion</th>
            <th>Carnet Policial</th>
        </tr>
    </thead>
    <tbody>
        {% for sancion in sanciones %}
            <tr>
                <td>{{ sancion.persona }}</td>
                <td>{{ sancion.fecha_infracion }}</td>
                <td>{{ sancion.numero_papeleta }}</td>
                <td>{{ sancion.entidad }}</td>
                <td>{{ sancion.distrito }}</td>
                <td>{{ sancion.infracion }}</td>
                <td>{{ sancion.grado_alcohol }}</td>
                <td>{{ sancion.retencion }}</td>
                <td>{{ sancion.observacion }}</td>
                <td>{{ sancion.carnet_policial }}</td>
                <td><a href="{% url 'front:sancion_persona' id_persona=persona.id id=sancion.id %}">Editar</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="9" class="text-center">No existen datos</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block title %}Sanciones{% endblock title %}