{% extends "front/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if form.instance.id != None %}
                <h1>Editar Persona
                    <span class="small pull-right">
                        <a href="{% url 'front:persona' %}" class="btn btn-primary">Crear persona</a>
                        <a href="{% url 'front:lista' %}" class="btn btn-primary">Ver todas las Personas</a>
                    </span>
                </h1>
            {% else %}
                <h1>Crear Persona
                <span class="small pull-right">
                    <a href="{% url 'front:lista' %}" class="btn btn-primary">Ver todas las Personas</a>
                </span>
            </h1>
            {% endif %}
            <form action="" method="post" enctype="multipart/form-data">
                {% for field in  form %}
                    <div class="form-group">
                        <label for="">{{ field.label }}:</label>
                        {{ field }}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    </div>
                {% endfor %}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Guardar</button>
            </form>
        </div>
    </div>

{% endblock content %}

{% block title %}Listas{% endblock title %}