{% extends "front/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if form.instance.id != None %}
                <h1>Editar sancion para {{persona}} ({{persona.dni}})
                    <span class="small pull-right">
                        <a href="{% url 'front:sanciones_persona' persona.id %}" class="btn btn-primary">Ver todas sus sanciones</a>
                        <a href="{% url 'front:sancion_persona' id_persona=persona.id id=0 %}" class="btn btn-primary">Crear nueva sanci{on</a>
                    </span>
                </h1>
            {% else %}
                <h1>Crear Sanciones para {{persona}} ({{persona.dni}})
                    <span class="small pull-right">
                        <a href="{% url 'front:sanciones_persona' persona.id %}" class="btn btn-primary">Ver todas sus sanciones</a>
                    </span>
                </h1>
            {% endif %}
            <form action="" method="post">
                {% for field in  form %}
                    <div class="form-group">
                        <label for="">{{ field.label }}:</label>
                        {{ field }}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    </div>
                {% endfor %}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Guardar</button>
            </form>
        </div>
    </div>

{% endblock content %}

{% block title %}Sanciones{% endblock title %}